page-start {
  #players {
    height: 15vh;
    width: auto;
  }
  #title {
    margin-top: 15vh;
    margin-bottom: 16px;
  }
  .two-players-btn {
    margin-top: 15vh;
  }
  .ia-btn {
    margin-top: 16px;
  }
}
