page-start {
  h1, h2 {
    color: white;
  }
  .game {
    background-image: url('../assets/imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  #players {
    height: 15vh;
    width: auto;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #title {
    margin-top: 15vh;
    margin-bottom: 16px;
  }
  [ion-button] {
    margin-top: 15vh;
  }
}
