page-home {
  .btn-space {
    width: 13vh;
    height: 13vh;
    background-color: white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .table {
    width: 100%;
  }
  img {
    height: 100%;
    padding: 8px;
  }
  .msg-winner {
    margin-bottom: 34px;
  }
  @media screen and (min-width: 550px) {
    .table {
      width: 70%;
    }
  }
  @media screen and (min-width: 850px) {
    .table {
      width: 60%;
    }
  }
}
