<ion-content>
  <div class="game">
    <div class="center animated fadeIn" *ngIf="matrix">
      <h1>Tic Tac Toe</h1>
      <div class="table" padding>
        <ion-row *ngFor="let row of matrix; index as r">
          <ion-col text-center *ngFor="let col of row; index as c">
            <div tappable class="btn-space" color="light" (click)="set(r, c)">
              <img src="./assets/imgs/x.png" *ngIf="col === 'x'">
              <img src="./assets/imgs/o.png" *ngIf="col === 'o'">
            </div>
          </ion-col>
        </ion-row>
      </div>
      <button ion-button large color="secondary" (click)="newGame()">Volver a jugar</button>
    </div>
  </div>
</ion-content>
