page-home {
  h1, h2 {
    color: white;
  }
  .game {
    background-image: url('../assets/imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .btn-space {
    width: 13vh;
    height: 13vh;
  }
  .table {
    width: 100%;
  }
  @media screen and (min-width: 550px) {
    .table {
      width: 70%;
    }
  }
  @media screen and (min-width: 850px) {
    .table {
      width: 60%;
    }
  }
}
