<ion-content>
  <div class="game">
    <div class="center" *ngIf="matrix">
      <h1 class="animated" ngClass="titleAnimated">Tic Tac Toe</h1>
      <div class="table" padding>
        <ion-row *ngFor="let row of matrix">
          <ion-col text-center *ngFor="let arr of row">
            <button ion-button class="btn-space" color="light">
              <!-- Player image -->
              <img src="./assets/imgs/o.png">
            </button>
          </ion-col>
        </ion-row>
      </div>
      <button ion-button large color="secondary">Volver a jugar</button>
    </div>
  </div>
</ion-content>
